<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Intervention</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">New Intervention</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>UserId</b>
    </div>
  </div>
</div>

<form action="/add" method="POST">
  <div class="row form-group mb-4">
    <div class="col">
      <label for="interventionTitre">Titre Intervention</label>
      <input type="text" class="form-control" id="interventionTitre" name="interventionTitre" placeholder="Titre Intervention" required>
    </div>

    <div class="col">
      <label for="nomSociete">Nom Societe</label>
      <input type="text" class="form-control" id="nomSociete" name="nomSociete" placeholder="Nom Societe" required>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="telSociete">Telephone Societe</label>
      <input type="text" class="form-control" id="telSociete" name="telSociete" placeholder="Telephone Societe" required>
    </div>

    <div class="col">
      <label for="email">Email Societe</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email Societe" required>
    </div>
  </div>

  <div class="form-group mb-4">
    <label for="address">Address Societe</label>
    <input type="text" class="form-control" id="address" name="address" placeholder="Address Societe" required>
  </div>

  <div class="form-group mb-4">
    <label for="ville">Ville Societe</label>
    <input type="text" class="form-control" id="ville" name="ville" placeholder="Ville Societe" required>
  </div>

  <div class="form-group mb-4">
    <label for="details">Intervention Details</label>
    <textarea class="form-control" name="details" id="details" cols="30" rows="12" placeholder="Intervention Details"></textarea>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Add Intervention</button>
  </div>
</form>
